<header class="header">

  <div class="logo">
    NateNovaShop
  </div>

  <!-- BUSCADOR -->
  <div class="header-search">

    <input
      type="text"
      placeholder="🔍 Buscar productos..."
      [(ngModel)]="searchTerm"
    >

  </div>

  <!-- MENU -->
  <div class="header-menu">

    <button
  class="nav-btn"
  (click)="showFavorites()"
>
  ❤️ Favoritos
  <span *ngIf="favorites.length > 0">
    {{ favorites.length }}
  </span>
</button>

    <button
  class="nav-btn"
  (click)="showAccount()"
>
  👤 Cuenta
   </button>

   <button
  class="shop-btn"
  (click)="scrollToProducts()"
>
  Ver productos
    </button>

    <button class="cart-btn">
      🛒 {{ cart.length }}
    </button>

  </div>

</header>
<div
  class="account-panel"
  *ngIf="showAccountPanel"
>

  <h3>👤 Mi Cuenta</h3>

  <p><strong>Nombre:</strong> Invitado</p>

  <p>
  <strong>Correo:</strong>
  usuario&#64;natenova.com
</p>

  <h4>📦 Mis pedidos</h4>

  <ul>
    <li>Pedido #1001</li>
    <li>Pedido #1002</li>
  </ul>

  <button (click)="showAccountPanel = false">
  Cerrar
</button>

</div>

<!-- HERO -->

<section class="hero">

  <div class="overlay"></div>

  <div class="hero-content">

    <span class="tag">
      Tecnología Premium
    </span>

    <h1>
      Compra lo mejor
      en tecnología
    </h1>

    <p>
      Productos exclusivos con pagos seguros usando Stripe
    </p>

    <button
  class="shop-btn"
  (click)="scrollToProducts()"
>
  Ver productos
  </button>

  </div>

</section>

<!-- ADMIN PANEL -->

<section class="admin-panel">

  <h2>
    Agregar Producto
  </h2>

  <div class="form">

  <input
    type="text"
    placeholder="Nombre"
    [(ngModel)]="newProduct.title"
  >

  <input
    type="text"
    placeholder="Descripción"
    [(ngModel)]="newProduct.description"
  >

  <select [(ngModel)]="newProduct.category">

    <option value="">
      Selecciona categoría
    </option>

    <option value="Electronics">
      Electronics
    </option>

    <option value="Clothing">
      Clothing
    </option>

    <option value="Furniture">
      Furniture
    </option>

    <option value="Gaming">
      Gaming
    </option>

    <option value="Accessories">
      Accessories
    </option>

  </select>

  <input
    type="number"
    placeholder="Precio"
    [(ngModel)]="newProduct.price"
  >

  <input
    type="text"
    placeholder="Imagen URL"
    [(ngModel)]="newProduct.image"
  >

  <button (click)="addProduct()">
    {{ editingProductId ? 'Guardar Cambios' : 'Agregar' }}
  </button>

</div>

</section>

<!-- PRODUCTS -->

<section class="products-section">

  <div class="filter-container">

  <label>Filtrar por categoría:</label>

  <select [(ngModel)]="selectedCategory">

    <option value="All">Todas</option>
    <option value="Electronics">Electronics</option>
    <option value="Clothing">Clothing</option>
    <option value="Furniture">Furniture</option>
    <option value="Gaming">Gaming</option>
    <option value="Accessories">Accessories</option>

  </select>

</div>

  <div class="section-header">

    <h2>
      Productos Destacados
    </h2>

    <p>
      Explora nuestra colección premium
    </p>

  </div>

<div class="products">

    <div
  class="card"
  *ngFor="let product of getFilteredProducts()"
>


      <img [src]="product.image">
      <button
  class="favorite-icon"
  (click)="toggleFavorite(product)"
>
  {{ isFavorite(product) ? '❤️' : '🤍' }}
  </button>

      <div class="card-content">

        <h3>
  {{ product.title }}
  </h3>

  <p class="description">
  {{ product.description }}
  </p>

  <p class="category">
  {{ product.category }}
  </p>

  <p class="price">
  ${{ product.price }}
  </p>

        <div class="actions">

          <button
            class="buy-btn"
            (click)="addToCart(product)"
          >
            Comprar
          </button>

          <button
           class="edit-btn"
           (click)="editProduct(product)"
>
           Editar
          </button>
          

          <button
            class="delete-btn"
            (click)="deleteProduct(product.id)"
          >
            Eliminar
          </button>

        </div>

      </div>

    </div>

  </div>

</section>

<!-- CART -->

<div class="cart-sidebar custom-cart">

  <h2>
    🛒 Carrito
  </h2>

  <div
    class="cart-item"
    *ngFor="let item of cart"
  >

    <img [src]="item.image">

    <div class="cart-info">

      <h4>
        {{ item.title }}
      </h4>

      <p>
        ${{ item.price }}
      </p>

    </div>

  </div>

  <h3 class="cart-total">
    Total: ${{ getTotal() }}
  </h3>

  <button
  class="checkout-btn"
  (click)="checkout()"
  style="background: blue; color: white; border: none;"
>
  Pagar
</button>

</div>

<!-- FOOTER -->

<footer class="footer">

  <div class="footer-container">

    <div class="footer-brand">

      <h2>
        NateNovaShop
      </h2>

      <p>
        Tecnología premium con pagos seguros y experiencia moderna.
      </p>

    </div>

    <div class="footer-links">

      <h3>
        Enlaces
      </h3>

      <a href="#">
        Inicio
      </a>

      <a href="#">
        Productos
      </a>

      <a href="#">
        Soporte
      </a>

    </div>

    <div class="footer-contact">

      <h3>
        Contacto
      </h3>

      <p>
        📧 soporte&#64;natenova.com
      </p>

      <p>
        📱 +52 55 32429879
      </p>

    </div>

    <div class="footer-social">

      <h3>
        Redes
      </h3>

      <a href="#">
        Instagram
      </a>

      <a href="#">
        TikTok
      </a>

      <a href="#">
        Facebook
      </a>

    </div>

  </div>

  <div class="footer-bottom">

    © 2026 NateNovaShop • Todos los derechos reservados

  </div>

</footer>